
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<br />

<label>Username:</label>
<br />
<input type="text" placeholder="Enter Username" name="uname" required>
<br />
<label>Password:</label>
<br />
<input type="text" placeholder="" name="upassword" required>
<br />

<button>Login</button>