
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

<form action="/Home/Login" method="post">
    <label>First Name</label>
    <br />
    <input type="text" placeholder="First Name" name="fname" required />
    <br />

    <label>Last Name</label>
    <br />
    <input type="text" placeholder="Last Name" name="lname" required />
    <br />
    <label>Username:</label>
    <br />
    <input type="text" placeholder="Enter Username" name="uname" required>
    <br />
    <label>Email</label>
    <br />
    <input type="text" placeholder="Email" name="email" required />
    <br />
    <label>Password:</label>
    <br />
    <input type="text" placeholder="" name="password" required>
    <br />
    <label>Confirm Password:</label>
    <br />
    <input type="text" placeholder="" name="cpassword" required>
    <br />

    <input type="button" value="Login" />
</form>

